war/src/main/resourses/wsdl/PDManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="PDManager"
	targetNamespace="http://www.korusconsulting.ru/PDManager/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.korusconsulting.ru/PDManager/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hl7="urn:hl7-org:v3">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101311UV02.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101312UV02.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101305UV02.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101306UV02.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101307UV02.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
			<xsd:include schemaLocation="../xsd-hl7/multicacheschemas/PRPA_IN101308UV02.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PRPA_IN101311UV02">
		<wsdl:part element="hl7:PRPA_IN101311UV02" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PRPA_IN101312UV02">
		<wsdl:part element="hl7:PRPA_IN101312UV02" name="result" />
	</wsdl:message>
	<wsdl:message name="PRPA_IN101305UV02">
		<wsdl:part element="hl7:PRPA_IN101305UV02" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PRPA_IN101306UV02">
		<wsdl:part element="hl7:PRPA_IN101306UV02" name="result" />
	</wsdl:message>
	<wsdl:message name="PRPA_IN101307UV02">
		<wsdl:part element="hl7:PRPA_IN101307UV02" name="parameters" />
	</wsdl:message>
	<wsdl:message name="PRPA_IN101308UV02">
		<wsdl:part element="hl7:PRPA_IN101308UV02" name="result" />
	</wsdl:message>
	<wsdl:portType name="PDManager">
		<wsdl:operation name="add">
			<wsdl:input message="tns:PRPA_IN101311UV02" />
			<wsdl:output message="tns:PRPA_IN101312UV02" /> 
		</wsdl:operation>
		<wsdl:operation name="findCandidates">
			<wsdl:input message="tns:PRPA_IN101305UV02" />
			<wsdl:output message="tns:PRPA_IN101306UV02" /> 
		</wsdl:operation>
		<wsdl:operation name="getDemographics">
			<wsdl:input message="tns:PRPA_IN101307UV02" />
			<wsdl:output message="tns:PRPA_IN101308UV02" /> 
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PDManagerSOAP" type="tns:PDManager">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="http://www.korusconsulting.ru/PDManager/new" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findCandidates">
			<soap:operation soapAction="http://www.korusconsulting.ru/PDManager/findCandidates" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDemographics">
			<soap:operation soapAction="http://www.korusconsulting.ru/PDManager/getDemographics" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PDManager_Service">
		<wsdl:port binding="tns:PDManagerSOAP" name="PDManagerSOAP">
			<soap:address location="http://www.korusconsulting.ru/pdmanager" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
